!!! Strict
%html{locale_attrs}
  %head
    %title&= yield(:title) || t(:site_name)
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "keywords", :content => "" }/
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag :defaults, 'jquery.js', 'jquery.form.js'
    = yield :head
    
  %body
    .container
      #navigation
        = link_to "Home", root_path
        |
        - if current_user
          = link_to_with_highlight "My Account", edit_user_path(current_user)
          |
          = link_to_with_highlight "Logout", logout_path
        - else
          = link_to_with_highlight "Register", new_user_path
          |
          = link_to_with_highlight "Login", login_path
      #header
        %h1= t(:site_name)
        %h2= t(:site_mission)
        #navset
          = navigation [:home, :projects, :contact, :about]
          = yield(:subnav)
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
      #sidebar
        .block
          %h3= yield :title_sidebar
          .content
            %p= yield :sidebar
      #extra
      #footer
        %p= t(:copyright)
